<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="javaMapperPackage" value="com.dao" />
        <option name="javaMapperPath" value="F:\Y2\SSM\Appinfodb\src" />
        <option name="javaModelPackage" value="com.entiey" />
        <option name="javaModelPath" value="F:\Y2\SSM\Appinfodb\src" />
        <option name="lastDatabaseCrudChooseModuleName" value="Appinfodb" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="Appinfodb">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.dao" />
                  <option name="javaMapperPath" value="F:\Y2\SSM\Appinfodb\src" />
                  <option name="javaModelPacakge" value="com.entiey" />
                  <option name="javaModelPath" value="F:\Y2\SSM\Appinfodb\src" />
                  <option name="xmlPackage" value="com.mapper" />
                  <option name="xmlPath" value="F:\Y2\SSM\Appinfodb\src" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="tableGenerateConfigs">
          <map>
            <entry key="appinfodb:ad_promotion">
              <value>
                <TableGenerateConfig>
                  <option name="columnOverrideList">
                    <list>
                      <MyColumnOverride>
                        <option name="columnName" value="id" />
                        <option name="javaType" value="java.lang.Integer" />
                      </MyColumnOverride>
                      <MyColumnOverride>
                        <option name="columnName" value="appId" />
                        <option name="javaType" value="java.lang.Integer" />
                      </MyColumnOverride>
                      <MyColumnOverride>
                        <option name="columnName" value="adPV" />
                        <option name="javaType" value="java.lang.Integer" />
                      </MyColumnOverride>
                      <MyColumnOverride>
                        <option name="columnName" value="createdBy" />
                        <option name="javaType" value="java.lang.Integer" />
                      </MyColumnOverride>
                      <MyColumnOverride>
                        <option name="columnName" value="modifyBy" />
                        <option name="javaType" value="java.lang.Integer" />
                      </MyColumnOverride>
                    </list>
                  </option>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="AdPromotion" />
                  <option name="moduleName" value="Appinfodb" />
                  <option name="useActualColumnName" value="true" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="appinfodb:app_category">
              <value>
                <TableGenerateConfig>
                  <option name="columnOverrideList">
                    <list>
                      <MyColumnOverride>
                        <option name="columnName" value="id" />
                        <option name="javaType" value="java.lang.Integer" />
                      </MyColumnOverride>
                      <MyColumnOverride>
                        <option name="columnName" value="parentId" />
                        <option name="javaType" value="java.lang.Integer" />
                      </MyColumnOverride>
                      <MyColumnOverride>
                        <option name="columnName" value="createdBy" />
                        <option name="javaType" value="java.lang.Integer" />
                      </MyColumnOverride>
                    </list>
                  </option>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="AppCategory" />
                  <option name="moduleName" value="Appinfodb" />
                  <option name="useActualColumnName" value="true" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="appinfodb:app_info">
              <value>
                <TableGenerateConfig>
                  <option name="columnOverrideList">
                    <list>
                      <MyColumnOverride>
                        <option name="columnName" value="id" />
                        <option name="javaType" value="java.lang.Integer" />
                      </MyColumnOverride>
                      <MyColumnOverride>
                        <option name="columnName" value="devId" />
                        <option name="javaType" value="java.lang.Integer" />
                      </MyColumnOverride>
                      <MyColumnOverride>
                        <option name="columnName" value="status" />
                        <option name="javaType" value="java.lang.Integer" />
                      </MyColumnOverride>
                      <MyColumnOverride>
                        <option name="columnName" value="flatformId" />
                        <option name="javaType" value="java.lang.Integer" />
                      </MyColumnOverride>
                      <MyColumnOverride>
                        <option name="columnName" value="categoryLevel3" />
                        <option name="javaType" value="java.lang.Integer" />
                      </MyColumnOverride>
                      <MyColumnOverride>
                        <option name="columnName" value="downloads" />
                        <option name="javaType" value="java.lang.Integer" />
                      </MyColumnOverride>
                      <MyColumnOverride>
                        <option name="columnName" value="createdBy" />
                        <option name="javaType" value="java.lang.Integer" />
                      </MyColumnOverride>
                      <MyColumnOverride>
                        <option name="columnName" value="modifyBy" />
                        <option name="javaType" value="java.lang.Integer" />
                      </MyColumnOverride>
                      <MyColumnOverride>
                        <option name="columnName" value="categoryLevel1" />
                        <option name="javaType" value="java.lang.Integer" />
                      </MyColumnOverride>
                      <MyColumnOverride>
                        <option name="columnName" value="categoryLevel2" />
                        <option name="javaType" value="java.lang.Integer" />
                      </MyColumnOverride>
                    </list>
                  </option>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="AppInfo" />
                  <option name="moduleName" value="Appinfodb" />
                  <option name="useActualColumnName" value="true" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="appinfodb:app_version">
              <value>
                <TableGenerateConfig>
                  <option name="columnOverrideList">
                    <list>
                      <MyColumnOverride>
                        <option name="columnName" value="id" />
                        <option name="javaType" value="java.lang.Integer" />
                      </MyColumnOverride>
                      <MyColumnOverride>
                        <option name="columnName" value="appId" />
                        <option name="javaType" value="java.lang.Integer" />
                      </MyColumnOverride>
                      <MyColumnOverride>
                        <option name="columnName" value="publishStatus" />
                        <option name="javaType" value="java.lang.Integer" />
                      </MyColumnOverride>
                      <MyColumnOverride>
                        <option name="columnName" value="createdBy" />
                        <option name="javaType" value="java.lang.Integer" />
                      </MyColumnOverride>
                    </list>
                  </option>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="AppVersion" />
                  <option name="moduleName" value="Appinfodb" />
                  <option name="useActualColumnName" value="true" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="appinfodb:backend_user">
              <value>
                <TableGenerateConfig>
                  <option name="columnOverrideList">
                    <list>
                      <MyColumnOverride>
                        <option name="columnName" value="id" />
                        <option name="javaType" value="java.lang.Integer" />
                      </MyColumnOverride>
                      <MyColumnOverride>
                        <option name="columnName" value="userType" />
                        <option name="javaType" value="java.lang.Integer" />
                      </MyColumnOverride>
                      <MyColumnOverride>
                        <option name="columnName" value="createdBy" />
                        <option name="javaType" value="java.lang.Integer" />
                      </MyColumnOverride>
                    </list>
                  </option>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="BackendUser" />
                  <option name="moduleName" value="Appinfodb" />
                  <option name="useActualColumnName" value="true" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="appinfodb:data_dictionary">
              <value>
                <TableGenerateConfig>
                  <option name="columnOverrideList">
                    <list>
                      <MyColumnOverride>
                        <option name="columnName" value="id" />
                        <option name="javaType" value="java.lang.Integer" />
                      </MyColumnOverride>
                      <MyColumnOverride>
                        <option name="columnName" value="valueId" />
                        <option name="javaType" value="java.lang.Integer" />
                      </MyColumnOverride>
                      <MyColumnOverride>
                        <option name="columnName" value="createdBy" />
                        <option name="javaType" value="java.lang.Integerg" />
                      </MyColumnOverride>
                      <MyColumnOverride>
                        <option name="columnName" value="modifyBy" />
                        <option name="javaType" value="java.lang.Integer" />
                      </MyColumnOverride>
                    </list>
                  </option>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="DataDictionary" />
                  <option name="moduleName" value="Appinfodb" />
                  <option name="useActualColumnName" value="true" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="appinfodb:dev_user">
              <value>
                <TableGenerateConfig>
                  <option name="columnOverrideList">
                    <list>
                      <MyColumnOverride>
                        <option name="columnName" value="id" />
                        <option name="javaType" value="java.lang.Integer" />
                      </MyColumnOverride>
                      <MyColumnOverride>
                        <option name="columnName" value="createdBy" />
                        <option name="javaType" value="java.lang.Integer" />
                      </MyColumnOverride>
                    </list>
                  </option>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="DevUser" />
                  <option name="moduleName" value="Appinfodb" />
                  <option name="useActualColumnName" value="true" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="useActualColumnNames" value="true" />
        <option name="useLomBokOnModel" value="true" />
        <option name="xmlMapperPackage" value="com.mapper" />
        <option name="xmlMapperPath" value="F:\Y2\SSM\Appinfodb\src" />
      </ProjectProfile>
    </option>
  </component>
</project>